@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #0A1039;
  color: #FFFFFF;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:900;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}
.col1 {
  flex: 1;
  padding-top:10px;
}

.col2 {
  flex: 1;
  text-align: right;
}

.logo {
  width: 250px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
} 

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.navigation {
  z-index: 999;
  background: #fff;
}

/* Modal Styles */
.modal-header {
  position: sticky;   
  top: -21px; 
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: start; 
  width: 85vw;
  background-color: #fff;
  height: 15vh;
  padding: 1rem 2rem 1rem 0rem;
}

.modal-movie-title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 26px;
  font-weight: 800;
  text-overflow: ellipsis;
  max-width: 300px;
  justify-items: start;
}
 
.modal-grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 1em;
  background-color: #0A1039;
  color: #85CDED;
  border-radius: 5px;
} 

.bio-page-wrapper {
  margin: 10px;
}

.row-bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col-bio {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: flex-start;
}

.modal-header > .btn-home {
  align-items: right;
}

.modal-btn-genre {
  border: 2px rgba(133, 205, 237, 0.5) solid;
  border-radius: 15px;
  color: #fff;
  padding: 4px 6px 4px 6px;
  margin-right: 5px;
  background: transparent;
}

.modal-img {
  max-width: 600px;
  width: 600px; 
  width: 100%;
  border-radius: 5px;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #1A2448;
  margin-top: 10px;
  border-radius: 5px;
  color: #85CDED;
  padding: 1.8em;
}

.top-offset {
  padding-top: 2em;
}

#trailer {
  z-index: -1;
}

.modal-btn-number {
  background-color: #212F52;
  width: 60px;
  height: 60px;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: arrow;
  border-radius: 8px;
}

//hide scrollbar but leave scroll enabled
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
  background: #FF0000;
}  */

.modal-footer li {
  padding-bottom: 1.2em;
}

.modal-title {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  font-weight: 900!important;
  color: rgba(133, 205, 237, 0.5);
  padding-bottom: 0.5em;
}

.modal-info {
  color: #fff;
}

#modal-actors {
  text-align: left;
  color: #fff;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.modal-logo {
  width: 45px;
  height: 45px;
  border-radius: 8px;
}

.modal-row {
  width: 100%;
  text-align: left; 
}

.modal-block {
  width: 60px;
  margin-top: 10px;
  display: inline-block;
}​


.modal-number {
  text-align: left;
}

.row-button {
  width: 100%;
  text-align: left;
}

.number-block {
  width: 100px;
  display: inline-block;
}