@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

body {
  background: #0A1039;
  color: #FFFFFF;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  /* position: absolute;
  width: 390px;
  height: 844px;
  left: 0px;
  top: 0px; */
}

.movies {
  display: grid;
  justify-content: center;
}

.logo {
  width: 250px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item2 {
  color: #85CDED;
}

.form-control {
  margin: 20px 0;
  
}

.form-control label {
  display: block;
  font-weight: 900;
  font-size: 24px;
  line-height: 39px;
  text-align: center;
}

.form-control input,
.form-control textarea {
  //width: 70%;
  width: 312px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 18px;
  text-align: center;
  color: #1A2448;
  border: 1px solid #0A1039;
  border-radius: 8px;
}

.form-control input::placeholder { 
  color: #1A2448;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  opacity: 1; 
}

.btn {
  background-color: #1A2448;
  border: none;
  color: white;
  padding: 15px 32px;
  font-weight: 800;
  font-size: 26px;
  line-height: 43px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #85CDED;
  width: 312px;
  border: 1px solid #85CDED33
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}


/* 
.movies li {
  list-style: none;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  background: #272727;
}

.movies li img {
  max-width: 300px;
  border-radius: 12px;
}

.movies li h4 {
  color: #fff;
  font-size: 1.8em;
  padding: 15px 10px 0;
  margin-top: auto;
  font-family: Roboto, sans-serif;
}

.page-header {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input,
.form-control textarea {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control textarea {
  height: 200px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
} */

/* Swiper  */

/* .swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff; */

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
