@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: #000;
}

.movies {
  display: grid;
  justify-content: center;
}

.movies li {
  list-style: none;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  background: #272727;
}

.movies li img {
  max-width: 300px;
  border-radius: 12px;
}

.movies li h4 {
  color: #fff;
  font-size: 1.8em;
  padding: 15px 10px 0;
  margin-top: auto;
  font-family: Roboto, sans-serif;
}

.page-header {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input,
.form-control textarea {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control textarea {
  height: 200px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
